//* Blog List Page *//
.blog-list-page {
  height: 100lvh;
  width: 100%;
  .title {
    font-size: 1.8em;
    text-align: center;
    margin: 70px 0 50px 0;
    padding: 0 20px;
  }
  .tag-list {
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 30px 0;
    display: block;
  }
  span {
    display: inline-block;
  }
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
    li {
      margin: 20px 0 20px 0;
      overflow: visible;
      padding: 20px;
      box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #f8f8f8;
      overflow-wrap: anywhere;
      .post-link {
        text-decoration: none;
        h2 {
          font-size: 1.6em;
          margin: 0;
          padding: 0;
          text-align: center;
          text-decoration: underline;
        }
        .date,
        .author {
          font-size: 0.9em;
          margin: 0;
          padding: 0;
        }
      }
      .tags {
        font-size: 1.1em;
        margin: 10px 0 0 0;
        padding: 0;
        text-align: right;
      }
    }
  }
}
