//* Top Page *//
.top-page {
  .first-view {
    background-attachment: fixed;
    background: #74ebd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #acb6e5,
      #74ebd5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #acb6e5,
      #74ebd5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      color: #ffffff;
      font-size: 3.5em;
      padding: 0px 30px;
      font-weight: 700;
    }
    .hashtag {
      color: #ffffff;
      font-size: 2em;
      margin: 40px auto 0 auto;
      padding: 0px 30px;
      text-align: center;
      width: fit-content;
      font-weight: 700;
    }
  }

  //* About *//
  .about-section {
    span {
      display: inline-block;
    }
    .icon {
      background-image: url("icon.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: #eaeaea solid 7px;
      margin: -30px auto;
    }
    .title {
      font-size: 1.8em;
      text-align: center;
      margin: 50px 20px 0 20px;
    }
    .content {
      width: 100%;
      max-width: 840px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .play-image {
      background-image: url("play.webp");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      aspect-ratio: 16 / 9;
      width: 100%;
      max-width: 700px;
      height: 100%;
      margin: 50px auto;
      border-radius: 20px;
    }
  }

  //* Blog List Section *//
  .blog-list-section {
    height: 100lvh;
    width: 100%;
    .title {
      font-size: 1.8em;
      text-align: center;
      margin: 70px 0 30px 0;
    }
    .tag-list {
      font-size: 1.2em;
      text-align: center;
      margin: 0 0 30px 0;
      display: block;
    }
    ul {
      list-style: none;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      li {
        margin: 20px 0 20px 0;
        overflow: visible;
        padding: 20px;
        box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #f8f8f8;
        overflow-wrap: anywhere;
        .post-link {
          text-decoration: none;
          h2 {
            font-size: 1.6em;
            text-align: center;
            text-decoration: underline;
          }
          .date,
          .author {
            font-size: 0.9em;
          }
        }
        .tags {
          font-size: 1.1em;
          margin: 10px 0 0 0;
          text-align: right;
        }
      }
    }
  }
}
